body{
  font-size: 1.4rem;
  font-family: 'proxima-nova', 'Helvetica Neue';
  color: #333333;
  font-weight: 400;
  line-height: 1.8rem;
}
.supernav-header-logo{
  height: 3.5rem !important;
}
.lsac-supernav-sidebar{
  top: 3.5rem !important;
}